- @title = "Try ATS In The Browser"
- @header = haml :code_header
#code-mirror-wrapper
  %textarea.code-mirror#atscc_input
    = canned
%h3
  #{title} Compiler Output
  #atscc-buttons
    - actions.each do |action|
      %button.atscc-button{"data-compiler"=>compiler, "data-action"=>action}
        = action.upcase
  .cl
#ats-console