%a.btn.btn-navbar{"data-toggle"=>"collapse","data-target"=>".nav-collapse"}
  .icon-bar
  .icon-bar
  .icon-bar
%a.brand{:href=>"/",:target=>"_blank"}
  ATS

%ul.nav
  %li.dropdown
    %a.dropdown-toggle{:href=>"#","data-toggle"=>"dropdown"}
      Versions
      %b.caret
    %ul.dropdown-menu
      %li
        %a{:href=>"/code/ats"}
          ATS
      %li
        %a{:href=>"/code/patsopt"}
          ATS2
      %li
        %a{:href=>"/code/avrats"}
          AVR ATS
