- @title = "Try ATS In The Browser"
- @header = haml :code_header
- @readycalls = [] if !@readycalls
- @readycalls.push 'ats_ide("ats-ide")'
- $javascripts.push "/javascripts/codemirror.js"
- $javascripts.push "/javascripts/emacs.js"
- $javascripts.push "/editor.js"
= ats_editor locals