%span.header_section
  %a{:href=>"/",:target=>"_blank"}
    ATS LXR
%span.header_section
  Try out ATS below in this interactive editor. 
  Keybindings are set to mimic emacs, but don't try to use C-w in Chrome...
%span.header_section
  Shortcuts: C-D typecheck M-c compile
.cl