- @title = "Try ATS In The Browser"
- @header = haml :code_header
#ats-info{"data-compiler"=>compiler,"data-hashcode"=>hash,
          "data-arch"=>@session["arch"],
          "data-compile-flags"=>(@session["compile_flags"] || []).to_json,
          "data-runtime-flags"=>(@session["runtime_flags"] || []).to_json,
          "data-export-file"=>@session["filename"]}
#code-mirror-wrapper
  %textarea.code-mirror#atscc_input
    = canned
%input#attached_file{:type=>"file",:style=>"display:none;"}

#atsctl.pull-right
  .btn-group
    .btn#ats-action{"data-action"=>nil} Actions
    .btn.dropdown-toggle{"data-toggle"=>"dropdown"}
      %span.caret
    %ul.dropdown-menu
      - actions.each do |action|
        %li
          %a.switch-state{"data-action"=>action}
            = action.capitalize
      %li.divider
      %li
        %a.switch-state{"data-action"=>"upload"}
          Upload
      - if download
        %li
          %a.switch-state{"data-action"=>"download"}
            Download C
#ctl-workspace.pull-right
.cl
%h3#console-title
  #{title} Output
#ats-console