- @title = "Try ATS In The Browser"
- @header = haml :code_header
#ats-info{"data-compiler"=>compiler,"data-hashcode"=>hash}
#code-mirror-wrapper
  %textarea.code-mirror#atscc_input
    = canned
%h3
  #{title} Compiler Output
  #atscc-buttons
    - actions.each do |action|
      %button.atscc-button{"data-action"=>action}
        = action.capitalize
    - if actions.include? "compile"
      Compile Flags:
      %input#compile-flags.arguments{:type=>"text",:value=>render_flags(@session["compile_flags"])}
    - if actions.include? "run"
      Runtime Arguments:
      %input#runtime-flags.arguments{:type=>"text",:value=>render_flags(@session["runtime_flags"])}
    %input#attached_file{:type=>"file",:style=>"display:none;"}
    %button.attach_file
      Upload
  .cl
#ats-console