- @title = "Try ATS In The Browser"
- @header = haml :code_header

- @readycalls = [] if !@readycalls
- @readycalls.push 'ats_ide("ats-ide")'

- add_javascript "/javascripts/codemirror.js"
- add_javascript "/javascripts/emacs.js"
- add_javascript "/editor.js"

= ats_editor locals