- @title = "ATS Elevator Demo"
- @header = haml :default_header, locals: locals

- add_javascript "/demo.js"

.row
  .span12
    See the simulator in action by clicking on one of the trials above.
.row
  .span4
    .row
      %h3 Onboard
      %canvas#onboard{:width => "300", :height => "100"}
    .row
      %h3 Requested Floors
      %canvas#requests{:width => "300", :height => "100"}
    .row
      %h3 Event Log 
      %input.toggle-log{:type=>"button", :value=> "[show/hide]"}
      .event-container
        %ul#events
  .span8
    %h3 Simulation
    %canvas#simulator{:width => "300", :height => "500"}