- @title = "ATS Elevator Demo"
- @header = haml :default_header, locals: locals

- add_javascript "/demo.js"
%input#trial_file{:type => "file", :style=>"display:none"}

.row
  .span12
    See the simulator in action by clicking on one of the trials above.
  .span12
    %canvas#simulator{:width => "300", :height => "500"}