- @title = "ATS Elevator Demo"
- @header = haml :default_header, locals: locals

- add_javascript "/demo.js"

.row
  .span12
    See the simulator in action by clicking on one of the trials above.
.row
  .span4
    .row
      %h3 Onboard
      %canvas#onboard{:width => "300", :height => "100"}
    .row
      %h3 Requests
      .request-button#flr-1
        1
      .request-button#flr-2
        2
      .request-button#flr-3
        3
      .request-button#flr-4
        4
      .request-button#flr-5
        5
      .request-button#flr-6
        6
      .request-button#flr-7
        7
      .request-button#flr-8
        8
      .request-button#flr-9
        9
      .request-button#flr-10
        10
      .cb
  .span8
    %h3 Simulation
    %canvas#simulator{:width => "300", :height => "500"}