- @title = "ATS Elevator Demo"
- @header = haml :default_header

- add_javascript "/demo.js"

.row
  .span12
    #building
      - 10.times do |i|
        .floor{:id => "floor-#{10-i}"}
          .floor-side.fl
          .floor-side.fr
          .cb
      #elevator
