- @title = title
- @header = haml :xref_header
.directory-listing
  %ul
    - @entries.each do |filename|
      %li
        - if File.directory? "#{@directory.to_path}/#{filename}"
          - filename += "/"
        %a{:href=>filename}
          = filename