#ats-ide
  #ats-info{"data-compiler"=>compiler,"data-hashcode"=>hash,
            "data-arch"=>(arch),
            "data-compile_flags"=>(compile_flags).to_json,
            "data-runtime_flags"=>(runtime_flags).to_json,
            "data-filename"=>filename}
  %textarea.code-mirror#atscc_input
    = canned
  %input#attached_file{:type=>"file",:style=>"display:none;"}

  #atsctl.pull-right
    .btn-group
      .btn#ats-action{"data-action"=>nil} Actions
      .btn.dropdown-toggle{"data-toggle"=>"dropdown"}
        %span.caret
      %ul.dropdown-menu#action-dropdown
        - actions.each do |action|
          %li
            %a.switch-state{"data-action"=>action}
              = action.capitalize
        %li.divider
        %li
          %a.switch-state{"data-action"=>"upload"}
            Upload
        - if download
          %li
            %a.switch-state{"data-action"=>"download"}
              Download C
  #ctl-workspace.pull-right
  - if title
    %h3#console-title.pull-left
      #{title} Output
  .cl
  #ats-console