#ats-ide
  #ats-info{"data-compiler"=>compiler,"data-hashcode"=>hash,
            "data-arch"=>(arch),
            "data-compile_flags"=>(compile_flags).to_json,
            "data-runtime_flags"=>(runtime_flags).to_json,
            "data-filename"=>filename}
  %textarea.code-mirror#atscc_input
    = canned
  - if title
    %h3#console-title.pull-left
      #{title} Output
  .cl
  #ats-console