- @title = "ATS LXR"
- @header = haml :default_header
.content
  %p
    This site provides a basic cross reference tool for
    ATS source code. You can browse through the following
    repositories, or search for a terms in a given repo.
  %h2 Repositories
  %ul
    - $repos.each do |reponame,attr|
      %li 
        %a{:href=>"/repos/#{reponame}/"}
          = reponame
  %h2 ATS Source Code
  %ul
    - $ats.each do |version|
      %li
        %a{:href=>"/ats/#{version}/"}
          = version
  %h2 Try ATS
  %p
    Typecheck and compile ATS in the browser 
    %a{:href=>"/code/ats"} here
  %p
    Try out ATS2 in the browser
    %a{:href=>"/code/patsopt"} here
  %p
    %a{:href=>"/code/avrats"}
      Compile 
    Firmware for Arduino boards in ATS

    
