!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %title 
      = @title
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    -# Maybe add some conditional processing
    %link{:rel=>'stylesheet', :href=>'/stylesheets/style.css', :type => "text/css"}
    %script{:src=>'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js'}
    %body
      #main
        #header
          = @header
        = yield