%ul
  - results["response"]["docs"].each do |match|
    %li
      %a{:href=>"/"+match["filename"], :target=>"_blank"}
        = match["filename"]
%p #{results["response"]["numFound"]} matching files found.
.pagination.pagination-centered
  - pages = results["response"]["numFound"] / limit
  - current_page = (results["response"]["start"] / limit)
  %ul
    - for i in 0..pages
      - active = (i == current_page) ? "active" : ""
      %li{:class=>active}
        %a.paginate{"data-offset"=>i*limit}
          = i+1