%ul
  - results[:matches].each do |match|
    %li
      %a{:href=>"/"+match[:attributes]["path"], :target=>"_blank"}
        = match[:attributes]["path"]
%p #{results[:total_found]} matching files found.
.pagination.pagination-centered
  - pages = results[:total_found] / $sphinx.limit
  - current_page = ($sphinx.offset.to_i / $sphinx.limit)
  %ul
    - for i in 0..pages
      - active = (i == current_page) ? "active" : ""
      %li{:class=>active}
        %a.paginate{"data-offset"=>i*$sphinx.limit}
          = i+1