<div class="slide">
<h2>Welcome to ATS!</h2>
<p>ATS is an exciting new language that introduces a style of programming with 
theorem proving.</p>
<div>
implement main () = println! "Hello World!"
</div>
</div>
<div class="slide">
<h2>A Quick Aside</h2>
<p>ATS is a feature rich language, and as such its syntax differs greatly from
other languages. The following note on negation will help out later.</p>
<div>
implement main () = let
    val () = println! 5
    val () = println! ~5 //negation
 in end
</div>
</div>