%a.btn.btn-navbar{"data-toggle"=>"collapse","data-target"=>".nav-collapse"}
  .icon-bar
  .icon-bar
  .icon-bar
%a.brand{:href=>"/",:target=>"_blank"}
  ATS
%ul.nav.pull-left
  %li
    #ats-ide-ctl
      %input#attached_file{type: "file", style: "display:none;"}
      .btn-group.pull-right
        .btn#ats-action{"data-action"=> nil} Actions
        .btn.dropdown-toggle{"data-toggle"=> "dropdown"}
          %span.caret
        %ul.dropdown-menu#action-dropdown
          - actions.each do |action|
            %li
              %a.switch-state{"data-action"=> action}
                = action.capitalize
          %li.divider
          %li
            %a.switch-state{"data-action"=>"upload"}
              Upload
          - if download
            %li
              %a.switch-state{"data-action"=>"download"}
                Download C
          - if download_binary
            %li
              %a.switch-state{"data-action"=>"download_binary"}
                = download_binary_label
  %li
    #ats-ide-ctl-workspace.navbar-form{style: "margin-left:10px"}
%ul.nav.pull-right
  %li
    %button.btn{id: "toggle-index"}
      Index