- @title = "A Tour of ATS"
- @header = haml :default_header, locals: {links: [{id: "toggle-index",text:"Index"}]}

- add_javascript "/javascripts/codemirror.js"
- add_javascript "/javascripts/emacs.js"
- add_javascript "/editor.js"
- add_javascript "/tour.js"
.row
  %ul.nav.nav-pills.nav-stacked#index
  .span6#code
    = ats_editor({compiler: "ats", actions: ["typecheck","compile","run"]})
  .span6#content
    = erb :slides
