body {
    font: 13px Helvetica,arial,freesans,clean,sans-serif;
    background-color:#E0E0E0;
}

#main {
    width:98%;
    margin: 0 auto;
}

#header {
    width: 100%;
    border: 3px solid;
    height: 32px;
    border-radius:5px;
}

.header_section {
    font-size: 15px;
    font-style:bold;
    padding-right:10px;
    margin:7px 5px;
    float:left;
    border-right: 1px solid;
}

.search {
    font-size: 15px;
    font-style:bold;
    padding-left:10px;
    margin:3px 5px;
    float:right;
    border-left: 1px solid;
}

#search-results {
    float:right;
    position:relative;
    width:600px;
    height:500px;
    background: #FAFAFA;
    z-index:5;
    overflow-y:auto;
    border: 3px solid;
    border-radius:10px;
    padding:10px;
    display:none;
}

#search-listing {
    font-size: 15px;
}

#close-search {
    float:right;
    display:inline;
    border: 0;
    cursor: pointer;
    background: none;
    color:#3216B0;
}

.directory-listing {
    font-size: 16px;
}

.cl {
    clear:both;
}

.atsyntax {
    color:#E80000;
}

.atsyntax span.comment {
    color:#787878;
    font-style:italic;
}

.atsyntax span.extern  {
    color:#A52A2A;
}
.atsyntax span.keyword {
    color:#000000;
    font-weight:bold;
}

.atsyntax span.neuexp  {
    color:#800080;
}

.atsyntax span.staexp  {
    color:#0000FF;
}

.atsyntax span.dynexp  {
    color:#E80000;
}

.atsyntax span.prfexp  {
    color:#009000;
}

.atsyntax span.stacstdec  {
    text-decoration:none;
}

.atsyntax span.stacstuse  {
    color:#0000CF;
    text-decoration:underline;
}

.atsyntax span.dyncstdec  {
    text-decoration:none;
}

.atsyntax span.dyncstimp  {
    color:#B80000;
    text-decoration:underline;
}

.atsyntax span.dyncstuse  {
    color:#B80000;
    text-decoration:underline;
}